@media (min-width:576px) {

    .profile {
        width: 25%;
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    #linkedIn {
        width: 5%;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}

table {

    td {
        padding-right:10px;
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    th {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }
    padding:5px;
    border: 1px solid black;
    border-collapse: collapse;
  }

@media (max-width:575px) {

    .profile {
        width: 50%;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    #linkedIn {
        width: 10%;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}